* {box-sizing: border-box;}

body {
	background-color: #E5E5E5;
}

.wrapper {
    max-width: 450px;
    margin: 200px auto 200px auto;
    background: white;
}

#register_form {
	background-color: #E5E5E5;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px black solid;
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 2px;
    font-size: 16px;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
}

.row {
    padding: 5px;
    margin: auto
}