header {
	background-color: #5f5f5f;
}

.header-logo {
	text-decoration: none;
	color: white;
	float: left;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 10px;
    padding-top: 10px;
	display: inline-block;
}

nav li a {
	text-decoration: none;
	color: white;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
}

nav li:hover {
	color: #ffe;
    background-color: #1b1919;
	cursor: pointer;
	margin: 0 0;
}

.container {
	margin: 0 auto;
}

.container:after {
	content: '';
	display: table;
	clear: both;
}

.header-logo-image {
	background: transparent;
	position: absolute;
	width: 25px;
	height: 25px;
}