header {
	background-color: #5f5f5f;
}

.header-logo {
	text-decoration: none;
	color: white;
	float: left;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
}

nav li a {
	text-decoration: none;
	color: white;
	font-size: 17px;
	padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 9px;
    padding-left: 15px;
}

nav li:hover {
	color: #ffe;
    background-color: #1b1919;
	cursor: pointer;
}

.container {
	margin: 0 auto;
	padding: 10px;
}

.container:after {
	content: '';
	display: table;
	clear: both;
}